!!! html
html(ng-app='store')

  head
    script(src='/js/libs/angularjs/1.1.5/angular.min.js')
    script(src='/js/libs/angularjs/1.1.5/angular-resource.min.js')
    script.
      var store= angular.module('store', ['ngResource']);

      store.factory('Item', function ($resource) {
        return $resource('/api/v1/store/items/:itemId', {itemId:'@itemId'}, {
          update: {method:'patch', params:{itemId:'@itemId'}},
          delete: {method:'delete', params:{itemId:'@itemId'}},
        });
      })

      store.filter('filterItems', function () {
        return function (items) {
          var filtered= [];
          items.map(function (item) {
            if (item.deleted || item.deletedAt) {
              return;
            }
            filtered.push(item);
          })
          return filtered;
        }
      })
      store.controller('Items.ListCtrl', function ($scope, Item) {
        console.log('Items.ListCtrl')
        $scope.items= Item.query(function () {
          console.log($scope.items)
        });

        $scope.item= null;

        $scope.form= {
          show: false
        };
        $scope.showForm= function (item) {
          if (!item) {
            item= new Item();
          }
          $scope.item= item;
        }
        $scope.hideForm= function () {
          $scope.item= null;
        }
        $scope.delete= function (item) {
          item.$delete(function () {                                            console.log('удалено', arguments, item)

          })
        }
      })

      store.controller('Items.ItemFormCtrl', function ($scope, Item) {
        $scope.show= false;
        $scope.$watch('item', function (item) {
          $scope.show= !!item;
        });
        $scope.create= function () {                                            console.log('отправить форму', $scope.item)
          $scope.item.$save(function (item) {                                   console.log('сохранено')
            $scope.items.push(item)
            $scope.hideForm();
          })
        }
        $scope.update= function () {                                            console.log('отправить форму', $scope.item)
          $scope.item.$update(function (item) {                                 console.log('обновлено')
            $scope.hideForm();
          })
        }
      })

  body
    .items-section(ng-controller='Items.ListCtrl')
      form(ng-show='item', ng-controller='Items.ItemFormCtrl')
        input(type='text', name='title', ng-model='item.title')
        input(type='submit', value='Обновить', ng-show='item.itemId', ng-click='update()')
        input(type='submit', value='Добавить', ng-hide='item.itemId', ng-click='create()')
      a(href='', ng-click='showForm()') Добавить
      ul.items
        li(ng-repeat='item in items | filterItems')
          strong {{item.title}}
          a(href='', ng-click='showForm(item)') Изменить
          a(href='', ng-click='delete(item)') Удалить