!!! html
html(ng-app='store')

  head
    script(src='/js/libs/angularjs/1.1.5/angular.min.js')
    script(src='/js/libs/angularjs/1.1.5/angular-resource.min.js')
    script.
      var store= angular.module('store', ['ngResource']);

      store.factory('Package', function ($resource) {
        return $resource('/api/v1/store/packages/:packageId', {packageId:'@packageId'}, {
          update: {method:'patch', params:{packageId:'@packageId'}},
          delete: {method:'delete', params:{packageId:'@packageId'}},
        });
      })

      store.filter('filterPackages', function () {
        return function (packages) {
          var filtered= [];
          packages.map(function (package) {
            if (package.deleted || package.deletedAt) {
              return;
            }
            filtered.push(package);
          })
          return filtered;
        }
      })

      store.controller('Packages.ListCtrl', function ($scope, Package) {
        console.log('Packages.ListCtrl')
        $scope.packages= Package.query(function () {
          console.log($scope.packages)
        });

        $scope.package= null;

        $scope.form= {
          show: false
        };
        $scope.showForm= function (package) {
          if (!package) {
            package= new Package();
            package.items= [];
          }
          $scope.package= package;
        }
        $scope.hideForm= function () {
          $scope.package= null;
        }
        $scope.delete= function (package) {
          package.$delete(function () {                                         console.log('удалено', arguments, package)

          })
        }
      })

      store.controller('Packages.PackageFormCtrl', function ($scope, Package) {
        $scope.show= false;
        $scope.$watch('package', function (package) {
          $scope.show= !!package;
        });
        $scope.create= function () {                                            console.log('отправить форму', $scope.package)
          $scope.package.$save(function (package) {                             console.log('сохранено')
            $scope.items.push(package)
            $scope.hideForm();
          })
        }
        $scope.update= function () {                                            console.log('отправить форму', $scope.package)
          $scope.package.$update(function (package) {                           console.log('обновлено')
            $scope.hideForm();
          })
        }
        $scope.addItem= function () {
          $scope.package.items.push({
            itemId: null,
            amount: null
          })
        }
      })
  body
    .packages-section(ng-controller='Packages.ListCtrl')
      form(ng-show='package', ng-controller='Packages.PackageFormCtrl')
        input(type='text', name='title', ng-model='package.title')
        button(ng-click='addItem()') Добавить предмет
        fieldset(ng-repeat='item in package.items')
          input(type='text', placeholder='Предмет', ng-model='item.itemId')
          input(type='text', placeholder='Кол-во', ng-model='item.amount')
        input(type='submit', value='Обновить', ng-show='package.packageId', ng-click='update()')
        input(type='submit', value='Добавить', ng-hide='package.packageId', ng-click='create()')
      a(href='', ng-click='showForm()') Добавить
      ul.items
        li(ng-repeat='package in packages | filterPackages')
          strong {{package.title}}
          a(href='', ng-click='showForm(package)') Изменить
          a(href='', ng-click='delete(package)') Удалить