extends ./layout



append head-links
    link(rel='stylesheet', href='/styles/management/index.css')





append head-scripts

    script(src='/scripts/libs/jquery-ui-1.10.3.custom.min.js')

    include manage.coffee





append body

    header

        .navbar.navbar-static-top
            .container
                a.navbar-brand(href='/')
                    span FLYDEV
                    sup v0.1
                .nav-collapse.collapse
                    ul.nav.navbar-nav.pull-right
                        li: a(href='#/login') Контрольно-пропускной пункт

        .container
            .row
                .col-12
                    hr
                    h1 FLYDEV
                        br
                        span JET ENGINE
                    hr
                    p Удобство, мощь и изящная реализация
                    p.fly: i.icon-rocket

        .navbar.navbar-fixed-bottom
            .container
                .by
                    a(href='//awesome39.com') При поддержке 
                        abbr AWESOME{39}


    section

        .dialog(ng-if='"login" == dialog.overlay', ng-animate='"dialog"')
            .dialog-bg(ng-click='hide()')
            .dialog-container.container
                .user-delete-form
                    .row: .col-12

                        .row: .col-12.dialog-head
                            i.icon-signin
                            span Контрольно-пропускной пункт

                        .row: .col-12.dialog-body

                            .row: .col-8.col-offset-2
                                h2.dialog-title Представьтесь, пожалуйста

                            .row: .col-8.col-offset-2

                                form.form-large(name='loginForm', ng-submit='login(loginForm)').dialog-form
                                    input.input(type='text', name='username', placeholder='Пользователь', required, ng-model='user.name')
                                    input.input(type='password', name='password', placeholder='Пароль', required, ng-model='user.pass')

                                    .form-actions
                                        button.btn.btn-primary(type='submit', ng-disabled='!loginForm.$valid')
                                            i.icon-signin
                                            span Представиться

        .dialog-overlay(ng-if='dialog.overlay', ng-animate='"dialog-overlay"')
