extends ../../../../layout
extends ../../../layout


block section-body
    form(name='ServerForm')
        h3(style='text-align:center') Создание сервера

        fieldset
            input.input(placeholder='Имя сервера', type='text', required, ng-model='server.title')
            input.input(placeholder='Ключ', type='text', required, ng-model='server.key')

        fieldset(ng-if='action=="create"')
            button.btn.btn-primary.btn-block(type='submit', ng-click='create(SeverForm)', ng-disabled='!ServerForm.$valid')
                span Создать сервер

        fieldset(ng-if='action=="update"'): .row
            .col-10
                button.btn.btn-primary.btn-block(type='submit',ng-click='update(ServerForm)',ng-disabled='!ServerForm.$valid')
                    span Обновить сервер
            .col-2
                button.btn.btn-link.btn-block.text-left(ng-click='delete(ServerForm)')
                    span Удалить
