extends ../../layout
extends ../layout

block section-body
    input.input(placeholder='Поиск', ng-model='tagSearch')
    table.table.players
        thead
            tr
                th #
                th.col-flex: .table-col: .table-col-sortable Тег
                th Дочерние
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='tag in tags | filter:tagSearch')
                td {{tag.id}}
                td {{tag.titleRuPlural}}
                td
                    span(ng-repeat='inherit in tag.inheritTags')= '{{inherit.name}} '
                td
                    a(ng-href='#/tags/tag/update/{{tag.id}}')
                        button.btn.btn-success
                            i.icon-wrench
    .row
        .col-12
            a(href='#/tags/tag/create')= 'Создать'
