extends ../../layout

block section-head-title
  a(href='#/servers') Управление серверами

block section-head-nav
    ul.nav.nav-row
        li.active: a Сервера
        li: a(href='#/players/group/list') Группы

block section-body
    table.table.players
        thead
            tr
                th
                th.col-flex: .sortable: .sortable-cell Название сервера
                th.col-flex: .sortable: .sortable-cell Хост:порт
                th
                    button.btn.btn-info(ng-click='reloadServers()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='server in servers')
                td {{server.id}}
                td
                    a(href='', ng-click='showDetails(server)') {{server.name}}
                td {{server.host}}:{{server.port}}
                td
                    a(href='#/servers/update/{{server.id}}')
                        button.btn.btn-success
                            i.icon-wrench

    .row
        .col-12
            a(href='#/servers/create')= 'Создать'

    script(type='text/ng-template', id='server/dialog/')
        include server/dialog/index
