extends ../../layout
extends ../layout

block section-body
    table.table.players
        thead
            tr
                th #
                th.col-flex: .table-col: .table-col-sortable Игрок
                th Баланс
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='player in players')
                td {{player.id}}
                td {{player.name}}
                td {{player.balance}}
                td
                    a(ng-href='#/players/player/update/{{player.id}}')
                        button.btn.btn-success
                            i.icon-wrench


    .row
        .col-12
            a(href='#/players/player/create')= 'Создать'
