extends ../../layout
extends ../layout

block section-body
    select.input(required, ng-model='serverId', ng-change='changeServer(serverId)')
        option(ng-repeat='server in servers', value='{{server.id}}') {{server.id}} - {{server.title}} ({{server.name}})
    table.table.players
        thead
            tr
                th #
                th.col-flex: .table-col: .table-col-sortable Тег
                th Дочерние
                th
                    button.btn.btn-info(ng-click='changeServer(serverId)')
                        i.icon-refresh

        tbody
            tr(ng-repeat='tag in tags')
                td {{tag.id}}
                td {{tag.titleRuPlural}}
                td
                td
                    a(ng-href='#/tags/servertag/update/{{serverId}}')
                        button.btn.btn-success
                            i.icon-wrench
    .row
        .col-12
            a(href='#/tags/tag/create')= 'Создать'
