extends ../layout



block section--head--title
    b Управление сервисом



append section--side

    ul.nav.nav-list
        li: a(ng-href="#/store") Сводка
        li.nav-list--sep

    ul.nav.nav-list.nav-tags
        li.nav-list--header Пожертвования
        li: a(ng-href='#/store/payments/list') Пожертвования игроков
        li.nav-list--header Привилегии
        li: a(ng-href='#/store/subscribes/list') Привилегии игроков
        li: a(ng-href='#/store/indulgences/list') Индульгенции
        li.nav-list--header Продажи
        li: a(ng-href='#/store/items/list') Предметы
        li: a(ng-href='#/store/enchantments/list') Чары



mixin ItemImage
    img.item-preview--image(width='50', height='50', ng-src='{{item.imageUrl}}')


mixin ItemTitle
    span.item-preview--title
        if !block
            span.title {{item.titleRu}}
            span.subtitle ({{item.titleEn}})
            br
            +ItemTitleDetails()
        else
            block


mixin ItemTitleDetails
    span.item-preview--details
        if !block
            span.details--label №:
                strong.details--value {{item.material}}
        else
            block


mixin ItemPrice
    span.item-preview--title(style='display:block; text-align:right;')
        if !block
            span.price {{item.price | currency:'₨'}}
            br
            +ItemPriceDetails()
        else
            block


mixin ItemPriceDetails
    span.item-preview--details
        span.details--label за
            strong {{item.amount}} шт
