extends ../layout

block section-side
    ul.nav
        li: a(ng-href='#/store/items/list') Предметы
        li: a(ng-href='#/store/materials/list') Материалы
        li: a(ng-href='#/store/enchantments/list') Чары
