section(ng-controller="UsersCtrl")
    .container
        .row
            .col-12
                h1 Пользователи системы
                a.btn.btn-primary(href='#/users?action=create')
                    i.icon-plus-sign-alt
                    span   Добавить пользователя
                hr

            .col-8
                ul.UserList(ng-repeat='user in users')
                    li: a(ng-href='#/users/{{user.id}}') {{user}}

    .dialog(ng-class='{show:dialog.overlay=="create"}')
        .dialog-bg(ng-click='hide()')
        .dialog-container.container
            .row: .col-12
                .row: .col-12.dialog-head
                    i.icon-plus-sign-alt
                    span   Регистрация нового пользователя
                .row: .col-12.dialog-body
                    .row: .col-8.col-offset-2
                        h2.dialog-title Новый пользователь
                    .row: .col-8.col-offset-2
                        form(name='UserForm', ng-submit='send(UserForm)').dialog-form
                            input(type='text', name='username', placeholder='Пользователь', required, ng-model='username', ng-class='{valid:UserForm.username.$valid}')
                            input(type='password', name='password', placeholder='Пароль', required, ng-model='password', ng-class='{valid:UserForm.password.$valid}')
                            .form-actions
                                button.btn.btn-primary(type='submit', ng-disabled='!UserForm.$valid')
                                    i.icon-plus-sign-alt
                                    span   Добавить пользователя
    .dialog-overlay