extends ../layout

block section-side
    button.btn.btn-block.btn-info Оплатить
        span.visible-inline-lg пожертвование

block section-body
    a К оплате: {{payment.amount | currency}}

    .player--payment-robokassa(ng-if='payment.robokassa')
        form(action='{{payment.robokassa.url}}', method='POST')
            input(type='hidden', name='MrchLogin', value='{{payment.robokassa.data.MrchLogin}}')
            input(type='hidden', name='OutSum', value='{{payment.robokassa.data.OutSum}}')
            input(type='hidden', name='InvId', value='{{payment.robokassa.data.InvId}}')
            input(type='hidden', name='SignatureValue', value='{{payment.robokassa.data.SignatureValue}}')
            button(type='submit') Заплатить
