extends ../layout

block section-head-title
  a(href='#/store') Управление магазином

block section-head-nav
  ul.nav.nav-row
    li.active: a Предметы
    li: a(href='#/store/enchantments/list') Чары