extends ../layout

block item-form--title
  span Обновить предмет в магазине
  p: img.img(ng-show='item.imageUrl', ng-src='{{item.imageUrl}}', width='32', height='32')

block item-form--foot
  .row.form-row
    .col-10
      button.btn.btn-primary.btn-block(type='submit', ng-click='update(ItemForm)', ng-disabled='!ItemForm.$valid')
        span Обновить предмет
    .col-2
      button.btn.btn-link.btn-block.text-left(ng-click='delete(ItemForm)')
        span Удалить
