extends ../../../../../layout

block section-head-title
  a(href='#/servers') Управление серверами

block section-head-nav
    ul.nav.nav-row
        li: a(ng-href='#/servers/server/list') Сервера
        li: a(ng-href='#/servers/instance/list') Инстансы

block section-body
    form(name='InstanceForm')
        h3(style='text-align:center') Создание инстанса

        fieldset
            select.input(required, ng-model='instance.serverId')
                option(ng-repeat='server in servers',value='{{server.id}}') {{server.name}}

            input.input(placeholder='Имя сервера', type='text', required, ng-model='instance.title')
            .row
                .col-8
                    input.input(placeholder='Хост', type='text', required, ng-model='instance.host')
                .col-4
                    input.input(placeholder='Порт', type='text', required, ng-model='instance.port')

        fieldset
            button.btn.btn-primary.btn-block(type='submit', ng-click='create(InstanceForm)', ng-disabled='!InstanceForm.$valid')
                span Создать инстанс

