extends ../../../../layout
extends ../../../layout


block section-body
    form(name='TagForm')
        h3(style='text-align:center') Тег

        fieldset
            input.input(placeholder='Name', type='text', required, ng-maxlength='50', ng-model='tag.name')


        fieldset: .row
            .col-6
                input.input(placeholder='В единственном числе', type='text', ng-maxlength='50', ng-model='tag.titleRuSingular')
            .col-6
                input.input(placeholder='Во множественном', type='text', ng-maxlength='50', ng-model='tag.titleRuPlural')


        fieldset: .row
            .col-6
                input.input(placeholder='Singular', type='text', ng-maxlength='50', ng-model='tag.titleEnSingular')
            .col-6
                input.input(placeholder='Plural', type='text', ng-maxlength='50', ng-model='tag.titleEnPlural')


        fieldset
            .row
                .col-10
                    select.input(ng-model='parentTag')
                        option(ng-repeat='parentTag in tags | filter:filterTag: parentTag', value='{{parentTag}}') {{parentTag.name}} ({{parentTag.titleRuSingular}})
                .col-1
                    button.btn(ng-click='addTag(parentTag)',ng-disabled='!parentTag')
                        i.icon-plus

            .row(ng-repeat='tagTag in tag.parentTags')
                .col-3 {{tagTag.name}}
                .col-1
                    button.btn(ng-click='removeTag(tagTag)')
                        i.icon-minus


        fieldset(ng-if='action=="create"')
            button.btn.btn-primary.btn-block(type='submit', ng-click='create(TagForm)', ng-disabled='!TagForm.$valid')
                span Создать тег

        fieldset(ng-if='action=="update"'): .row
            .col-10
                button.btn.btn-primary.btn-block(type='submit',ng-click='update(TagForm)',ng-disabled='!TagForm.$valid')
                    span Обновить тег
            .col-2
                button.btn.btn-link.btn-block.text-left(ng-click='delete(TagForm)')
                    span Удалить
