extends ../../../../layout
extends ../../../layout


block section-body
    form(name='TagForm')
        h3(style='text-align:center') Тег

        fieldset
            p {{tag.name}}
            p {{tag.titleRuSingular}} ({{tag.titleRuPlural}})
            //p {{tag.titleEnSingular}} ({{tag.titleEnPlural}})


        fieldset
            .row
                .col-10
                    select.input(ng-model='item')
                        option(ng-repeat='item in items', value='{{item}}') {{item.material}} {{item.titleRu}}
                .col-1
                    button.btn(ng-click='addItem(item)',ng-disabled='!item')
                        i.icon-plus

            .row(ng-repeat='tagItem in tag.items')
                .col-3 {{tagItem.titleRu}}
                .col-1
                    button.btn(ng-click='removeItem(tagItem)')
                        i.icon-minus


        fieldset(ng-if='action=="update"')
            button.btn.btn-primary.btn-block(type='submit',ng-click='update(TagForm)',ng-disabled='!TagForm.$valid')
                span Обновить тег
