extends ../layout



block section--head--title
    b Управление серверами



append section--side

    ul.nav.nav-list
        li: a(href='#/servers/server/list') Серверы
        li: a(href='#/servers/instance/list') Инстансы
