section
  .container
    .row
      .col-12.col-sm-4.col-lg-4.col-push-8
      .col-12.col-sm-8.col-lg-8.col-pull-4
        .toolbar
          h3.toolbar-title Чары в магазине
          a.btn.btn-primary.btn-small.toolbar-btn(ng-href='#/store/enchantments/create') Добавить чары
        hr
        ul.enchantments
          li(ng-repeat='enchantment in enchantments')
            a(ng-href='#/store/enchantments/{{enchantment.id}}') {{enchantment}}
      