extends ../../layout

block section-head-title
  a(href='#/store') Управление содержимым

block section-head-nav
    ul.nav.nav-row
        li: a(href='#/store/items/list') Предметы
        li.active: a Чары

block section-body
    table.table
        thead
            tr
                th #
                th.col-flex: .sortable: .sortable-cell Название чара
                th ID
                th Max
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='enchantment in enchantments')
                td {{enchantment.id}}
                td: a(ng-click='showDetails(enchantment)') {{enchantment.title}}
                td {{enchantment.identity}}
                td {{enchantment.levelmax}}
                td
                    a(ng-href='#/store/enchantments/enchantment/update/{{enchantment.id}}')
                        button.btn.btn-success
                            i.icon-wrench

    .row
        .col-12
            a(href='#/store/enchantments/enchantment/create')= 'Создать'

