extends ./layout

block section-head-title
  span Добро пожаловать, {{player.name}}

block section-body
  .row
    .col-4.player--balance
      .btn.btn-link.player--balance-label Баланс лицевого счета:
        b.player--balance-value {{player.balance}}
    .col-8.player--payments(style='text-align:right;')
      a(href='#/player/payments') История пополнений
      a.btn.btn-primary(ng-click='showPayDialog()') Пополнить счет
  hr
  .store--subscription-list(ng-controller='SubscriptionListCtrl')
    h3 Подписки
    .store--subscription(ng-repeat='subscription in subscriptions') {{subscription}}
      button.btn(ng-click='subscribe') Подписаться

append head-scripts
  script(type='text/ng-template', id='/player/partials/player/dialog/pay/'): include dialog/pay/index
