section.view-inner.view-inner-ready(ng-if='"ready"==state'): block section

    .container: block section-container

        .row
            .col-12.section-head
                block section-head

                    h1.section-head-title
                        block section-head-title

                    nav.section-head-nav
                        block section-head-nav

                            ul.nav.nav-row
                                li(ng-repeat='server in store.servers', ng-class='{active:server.id==store.server.id}')
                                    a(ng-href='#/servers/{{server.name}}') {{server.title}}

                    span.pull-right Баланс: {{player.balance}}
                    hr.section-sep

        .row
            .col-12.col-sm-5.col-lg-5.col-push-7
                block section-side

            .col-12.col-sm-7.col-lg-7.col-pull-5
                block section-body

    .dialog(ng-if='dialog.overlay')
        .dialog-bg(ng-click='hideDialog()')
        .container: .row: .col-12.dialog-container: block dialog
    .dialog-overlay(ng-if='dialog.overlay')



section.view-inner.view-inner-error(ng-if='"error"==state'): block error
    .container
        .row
            .col-12 Ошибка! {{error}}