extends ../../layout
extends ../layout

block section-body
    table.table.items
        thead
            tr
                th
                th M
                th.col-flex: .sortable: .sortable-cell Название
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh
        tbody
            tr(ng-repeat='item in items')
                td {{item.id}}
                td {{item.material}}
                td {{item.titleRu}}
                td
                    a(href='#/store/items/item/update/{{item.id}}')
                        button.btn.btn-success
                            i.icon-wrench

    .row
        .col-12
            a(href='#/store/items/item/create') Создать
