extends ../layout

block item-form--title
  span Добавить предмет в магазин
  p: img.img(ng-show='item.imageUrl', ng-src='{{item.imageUrl}}', width='32', height='32')

block item-form--foot
  button.btn.btn-primary.btn-block(type='submit', ng-click='create(ItemForm)', ng-disabled='!ItemForm.$valid')
    span
      Добавить предмет
