extends ../layout

append head-scripts

  include js/login.coffee

append header

  style.
    html {
      background:#563d7c;
      background-image:none;
    }
    .navbar {
      background-color:#563d7c;
    }

  .navbar.navbar-inverse.navbar-static-top
    .container
      a.navbar-brand(href='./')
        span FLYDEV
      .nav-collapse.collapse
        ul.nav.navbar-nav.pull-right
          li: a(href='', ng-click='showDialog()') Контрольно-пропускной пункт

append view-outer

  script(type='text/ng-template', id='partials/'): include partials/login/index
  script(type='text/ng-template', id='partials/login/dialog/'): include partials/login/dialog/index
