extends ../layout

block section-head-title
    span Управление магазином

block section-head-nav
    ul.nav.nav-row
        li: a(href='#/store/items/list') Предметы
        li: a(href='#/store/enchantments/list') Чары

