extends ./layout

block section-head-title
  span Добро пожаловать в магазин

block section-head-nav
  ul.nav.nav-row
    li(ng-repeat='server in store.servers')
      a(ng-href='#/store/{{server.name}}') {{server.title}}

append section-body
  .servers(ng-repeat='server in store.servers', ng-controller='ServerStoreCtrl')
    .server
      .server--title {{server.name}}
      .server--items
        .server--item(ng-repeat='item in server.store.items', ng-controller='ServerStoreItemCtrl as StoreItem')
          img.item--image(ng-src='item.imgUrl')
          span.item--title {{item.title}}
          input.item--amount(ng-model='amount', name='amount', type='number', min='1', max='99999', ng-pattern='/^[0-9]{1,5}$/', required, autocomplete='off')
          button.item--btn-buy(ng-click='buyItem(item)') +

append section-side
  form(ng-submit='order()').storage
    .storage--total
      span.storage--total-value {{total}}
      button(type='submit', ng-disabled='!total') Купить
    .storage--serverList(ng-repeat='server in store.servers', ng-controller='ServerStorageCtrl')
      input(type='hidden', ng-init="s= $index", name='servers[{{s}}][id]', value='{{server.id}}')
      .storage--server
        h3.storage--server-title {{server.name}}
        .storage--items
          .storage--item(ng-repeat='item in server.storage.items', ng-controller='ServerStorageItemCtrl as StorageItem')
            input(type='hidden', ng-init="i= $index", name='servers[{{s}}][items[{{i}}][id]', value='{{item.id}}')
            img.item--image(ng-src='item.imgUrl')
            span.item--title {{item.title}}
            input.item--amount(ng-model='item.amount', name='servers[{{s}}][items[{{i}}][amount]', type='number', min='1', max='99999', ng-pattern='/^[0-9]{1,5}$/', required, autocomplete='off')
            button.item--btn-del(ng-click='remItem(item)') -
        .server--storage-total {{server.storage.total}}
