extends ./layout

block section-head-title
  span Добро пожаловать в магазин

append section-body
  
  .storage.storageEmpty(ng-if='!total')
    h3 Ничего не выбрано
  .storage.storageDirty(ng-if='total')
    h3.storage-order: button.btn.btn-primary(ng-click='order()') Оплатить выбранное ({{total}})
    hr
  .storage(ng-repeat='server in store.servers', ng-show='server.storage.total')
    h3.storage--server-title.pull-left {{server.title}}
    h3.storage--server-total.pull-right {{server.storage.total}}
    .storage--server(ng-controller='ServerStorageCtrl')
      .storage--items
        table.table.items
          tbody
            tr(ng-repeat='item in server.storage.items', ng-controller='ServerStorageItemCtrl as StorageItem')
              td(ng-src='item.imageUrl')
              td.col-flex {{item.title}}
              td: input.item--amount(ng-model='item.amount', name='servers[{{s}}][items[{{i}}][amount]', type='number', min='1', max='99999', ng-pattern='/^[0-9]{1,5}$/', required, autocomplete='off')
              td: button.item--btn-del(ng-click='remItem(item)') -
