extends ../../../layout
extends ../../layout

block section-body
    table.table.players
        thead
            tr
                th #
                th.col-flex: .table-col: .table-col-sortable Игрок
                th: .table-col: .table-col-sortable Телефон

        tbody
            tr(ng-repeat='player in players', ng-click='togglePlayer(player)', ng-class='{"selected success":player.selected}')
                td {{player.id}}
                td {{player.name}}
                td {{player.phone}}


append section-side
    form(name='SmsForm')
        fieldset
            textarea.input(placeholder='Тело', type='text', required, ng-model='sms.text')

        fieldset
            button.btn.btn-primary.btn-block(type='submit', ng-click='send(SmsForm)', ng-disabled='!SmsForm.$valid')
                span Отправить
