extends ../../../../layout
extends ../../../layout


block section-body
    form(name='InstanceForm')
        h3(style='text-align:center') Создание инстанса

        fieldset
            select.input(required, ng-model='instance.serverId')
                option(ng-repeat='server in servers', value='{{server.id}}', ng-selected='instance.serverId == server.id') {{server.title}}

            .row
                .col-8
                    input.input(placeholder='Хост', type='text', required, ng-model='instance.host')
                .col-4
                    input.input(placeholder='Порт', type='text', ng-model='instance.port')

        fieldset(ng-if='action=="create"')
            button.btn.btn-primary.btn-block(type='submit', ng-click='create(InstanceForm)', ng-disabled='!InstanceForm.$valid')
                span Создать инстанс

        fieldset(ng-if='action=="update"'): .row
            .col-10
                button.btn.btn-primary.btn-block(type='submit',ng-click='update(InstanceForm)',ng-disabled='!InstanceForm.$valid')
                    span Обновить инстанс
            .col-2
                button.btn.btn-link.btn-block.text-left(ng-click='delete(InstanceForm)')
                    span Удалить
