extends ../layout

block section-head-title
    span Управление игроками

block section-head-nav
    ul.nav.nav-row
        li: a(href='#/players/player/list') Игроки
        li: a(href='#/players/group/list') Группы
        li: a(href='#/players/permission/list') Разрешения
