extends ../layout

block section-side
    ul.nav
        li: a(href='#/players/player/list') Игроки
        li: a(href='#/players/group/list') Группы
        li: a(href='#/players/permission/list') Разрешения
        li: a(href='#/players/sender/mail') Рассылка
