extends ../../../../../layout

block section-head-title
  a(href='#/servers') Управление серверами

block section-head-nav
    ul.nav.nav-row
        li: a(ng-href='#/servers/server/list') Сервера
        li: a(ng-href='#/servers/instance/list') Инстансы

block section-body
    form(name='ServerForm')
        h3(style='text-align:center') Создание сервера

        fieldset
            input.input(placeholder='Имя сервера', type='text', required, ng-model='server.name')
            input.input(placeholder='Название', type='text', required, ng-model='server.title')

        fieldset
            button.btn.btn-primary.btn-block(type='submit', ng-click='create(SeverForm)', ng-disabled='!ServerForm.$valid')
                span Создать сервер

