!!! html
html(ng-app='management')

    head

        link(rel='stylesheet', href='/css/bootcraft.css')
        link(rel='stylesheet', href='/css/management/index.css')

        script(src='/js/libs/jquery/1.7.2/jquery.min.js')
        script(src='/js/libs/angularjs/1.1.5/angular.min.js')
        script(src='/js/libs/angularjs/1.1.5/angular-resource.min.js')

        script.
            var app= angular.module('management', ['ngResource']);

            app.factory('CurrentUser', function ($resource) {
                var CurrentUser= $resource('/api/v1/user/:action', {}, {
                    login: {method:'post', params:{action:'login'}},
                });
                return CurrentUser;
            });

            app.controller('ViewCtrl', function ($scope, $location, $http, $window, CurrentUser) {
                $scope.referer= $location.absUrl();

                $scope.dialog= {
                    overlay: false
                };
                $scope.showDialog= function (type) {
                    $scope.dialog.overlay= type;
                }
                $scope.hideDialog= function () {
                    $scope.dialog.overlay= false;
                }
                $scope.hide= function () {
                    $location.path('/');
                }

                $scope.$on('$locationChangeSuccess', function () {
                    switch ($location.path()) {
                        case '/login':
                            $scope.showDialog('login');
                            break;
                        default:
                            $scope.hideDialog();
                    }
                });

                $scope.user= new CurrentUser();

                $scope.login= function (loginForm) {
                    $scope.user.$login(function (user) {
                        user.pass= loginForm.password.$modelValue;
                        $window.location.href= 'project/';
                        //$window.location.reload(true);
                    }, function () {
                        $scope.user.password= '';
                    });
                }
            });

    body(ng-controller='ViewCtrl', ng-cloak)

        header

            .navbar.navbar-static-top
                .container
                    a.navbar-brand(href='/')
                        span FLYDEV
                        sup v0.1
                    .nav-collapse.collapse
                        ul.nav.navbar-nav.pull-right
                            li: a(href='#/login') Контрольно-пропускной пункт

            .container
                .row
                    .col-12
                        hr
                        h1 FLYDEV
                            br
                            span JET ENGINE
                        hr
                        p Удобство, мощь и изящная реализация
                        p.fly: i.icon-rocket

            .navbar.navbar-fixed-bottom
                .container
                    .by
                        a(href='//awesome39.com') При поддержке 
                            abbr AWESOME{39}


        section

            .dialog(ng-if='"login" == dialog.overlay', ng-animate='"dialog"')
                .dialog-bg(ng-click='hide()')
                .dialog-container.container
                    .user-delete-form
                        .row: .col-12

                            .row: .col-12.dialog-head
                                i.icon-signin
                                span Контрольно-пропускной пункт

                            .row: .col-12.dialog-body

                                .row: .col-8.col-offset-2
                                    h2.dialog-title Представьтесь, пожалуйста

                                .row: .col-8.col-offset-2

                                    form.form-large(name='loginForm', ng-submit='login(loginForm)').dialog-form
                                        input.input(type='text', name='username', placeholder='Пользователь', required, ng-model='user.name')
                                        input.input(type='password', name='password', placeholder='Пароль', required, ng-model='user.pass')

                                        .form-actions
                                            button.btn.btn-primary(type='submit', ng-disabled='!loginForm.$valid')
                                                i.icon-signin
                                                span Представиться

            .dialog-overlay(ng-if='dialog.overlay', ng-animate='"dialog-overlay"')

