extends ../../layout
extends ../layout

block section-body
    table.table
        thead
            tr
                th ID
                th.col-flex: .sortable: .sortable-cell Название материала
                th English
                th Image
                th Ench
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='material in materials')
                td {{material.id}}
                td {{material.titleRu}}
                td {{material.titleEn}}
                td: img(ng-src='{{material.imageUrl}}')
                td {{material.enchantability}}
                td
                    a(ng-href='#/store/materials/material/update/{{material.id}}')
                        button.btn.btn-success
                            i.icon-wrench

    .row
        .col-12
            a(href='#/store/materials/material/create')= 'Создать'

