!!! html
html(ng-app='management', ng-cloak)

    head

        link(rel='stylesheet', href='/css/bootcraft.css')
        link(rel='stylesheet', href='/css/management/project/index.css')

        script(src='/js/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/libs/angularjs/1.1.5/angular.min.js')
        script(src='/js/libs/angularjs/1.1.5/angular-resource.min.js')
        script(src='/js/libs/jquery-ui-1.10.3.custom.min.js')



        script(src='/js/management/project/store/app.js')
        script(src='/js/management/project/store/routes.js')

        script(src='/js/management/project/store/items/filters.js')
        script(src='/js/management/project/store/items/resources.js')
        script(src='/js/management/project/store/items/controllers.js')

        script(src='/js/management/project/store/enchantments/filters.js')
        script(src='/js/management/project/store/enchantments/resources.js')
        script(src='/js/management/project/store/enchantments/controllers.js')



        script(src='/js/management/project/servers/app.js')
        script(src='/js/management/project/servers/routes.js')

        script(src='/js/management/project/servers/servers/filters.js')
        script(src='/js/management/project/servers/servers/resources.js')
        script(src='/js/management/project/servers/servers/controllers.js')

        script(src='/js/management/project/servers/instances/filters.js')
        script(src='/js/management/project/servers/instances/resources.js')
        script(src='/js/management/project/servers/instances/controllers.js')



        script(src='/js/management/project/app.js')



        script(src='/js/management/app.js')
        script(src='/js/management/routes.js')
        script(src='/js/management/filters.js')
        script(src='/js/management/resources.js')
        script(src='/js/management/directives.js')
        script(src='/js/management/controllers.js')








    - var localsJson= JSON.stringify({user: user});
    body(ng-controller='ViewCtrl', ng-cloak, ng-init='locals=#{localsJson}')

        header.header
            .navbar.navbar-static-top
                .container
                    a.navbar-brand(href='./')
                        span FLYDEV

                    .nav-collapse.collapse

                        ul.nav.navbar-nav

                            li: a(href='#/players') Игроки 
                                b.caret

                            li: a(href='#/servers') Серверы 
                                b.caret

                            li: a(href='#/store') Магазин 
                                b.caret

                        ul.nav.navbar-nav.pull-right

                            li: a(href='engine/') Управление системой

                            li.dropdown(ng-controller='CurrentUserCtrl', ng-class='{open:dropdown.isOpen}')

                                a.dropdown-toggle(href='', ng-click='toggleDropdown()')
                                    strong {{user.username}} 
                                    b.caret

                                ul.dropdown-menu

                                    li: a(href='#/user')
                                        i.icon-user
                                        span   Аккаунт

                                    li.divider

                                    li: a(href='', ng-click='logout()')
                                        i.icon-signout
                                        span   Выход

        .view.view-outer(ng-view)

        .dialog(ng-if='dialog.overlay', ng-animate='"dialog"')
            .dialog-bg(ng-click='hideDialog()')
            .container: .row: .col-12.dialog-container(ng-include='dialog.templateUrl')

        .dialog-overlay(ng-if='dialog.overlay', ng-animate='"dialog-overlay"')

