!!! html
html(ng-app='management', ng-cloak)

    head

        link(rel='stylesheet', href='/css/bootcraft.css')

        style.

            .navbar-brand span {
                letter-spacing:2px;
            }
            .navbar-brand sup {
                font-size:small;
                opacity:.5;
            }

            abbr {
                letter-spacing:2px;
            }

        script(src='/js/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/libs/angularjs/1.1.5/angular.min.js')
        script(src='/js/libs/angularjs/1.1.5/angular-resource.min.js')
        script(src='/js/libs/jquery-ui-1.10.3.custom.min.js')

        script(src='/js/management/project.js')

        script.
            angular.module('management').directive('bSortable', function ($parse) {
                return {
                    controller: function bSortable($scope) {
                        $scope.bSortable= {};
                        $scope.bSortableUpdate= function () {
                            var list= $scope.bSortable.getter($scope);
                            var sorted= [];
                            $scope.bSortable.element.children().each(function () {
                                var id= $(this).attr('id');
                                angular.forEach(list, function (item, i) {
                                    if (id == item.id) {
                                        sorted.push(item);
                                    }
                                });
                            });
                            console.log(sorted);
                            angular.forEach(list, function (item, i) {
                                list[i]= sorted[i];
                            });
                            console.log(list);
                            $scope.$digest();
                        }
                    },
                    link: function ($scope, $e, $a) {
                        $scope.bSortable.getter= $parse($a.bSortable);
                        $scope.bSortable.element= $e;
                    },
                }
            });
            angular.module('management').directive('bSortableItem', function () {
                return {
                    require:'^bSortable',
                    link: function ($scope, $e, $a) {
                        $scope.bSortable.element.sortable({axis:'y', helper:'clone', forceHelperSize:false, forcePlaceholderSize:false, tolerance:'pointer'}).off('sortupdate').
                        on('sortupdate', function (evt, target) {
                            $scope.bSortableUpdate()
                        })
                    },
                }
            })

    - var localsJson= JSON.stringify({user: user});
    body(ng-controller='ViewCtrl', ng-cloak, ng-init='locals=#{localsJson}')

        header.header
            .navbar.navbar-static-top
                .container
                    a.navbar-brand(href='./')
                        span FLYDEV

                    .nav-collapse.collapse

                        ul.nav.navbar-nav

                            li: a(href='#/players') Игроки 
                                b.caret

                            li: a(href='#/servers') Серверы 
                                b.caret

                            li: a(href='#/store') Магазин 
                                b.caret

                        ul.nav.navbar-nav.pull-right
                            li: a(href='engine/') Управление системой
                            li.dropdown(ng-controller='CurrentUserCtrl', ng-class='{open:dropdown.isOpen}')
                                a.dropdown-toggle(href='', ng-click='toggleDropdown()')
                                    strong {{user.username}} 
                                    b.caret

                                ul.dropdown-menu
                                    li: a(href='#/user')
                                        i.icon-user
                                        span   Аккаунт
                                    li.divider
                                    li: a(href='', ng-click='logout()')
                                        i.icon-signout
                                        span   Выход

        .view.view-outer(ng-view)

        .dialog(ng-if='dialog.overlay', ng-animate='"dialog"')
            .dialog-bg(ng-click='hideDialog()')
            .container: .row: .col-12.dialog-container(ng-include='dialog.templateUrl')
        .dialog-overlay(ng-if='dialog.overlay', ng-animate='"dialog-overlay"')
