section.view-inner(ng-if="'loaded' == state", ng-animate="'view'")
    block section

    .container
        block section-container

        //.row
            .col-12.section-head
                block section-head

                h1.section-head-title
                    block section-head-title

                nav.section-head-nav
                    block section-head-nav

                hr.section-sep

        .row(style='padding-top:10px')
            .col-12.col-sm-3.col-lg-3.col-push-9
                block section-side

            .col-12.col-sm-9.col-lg-9.col-pull-3
                block section-body
