.view-inner.view-inner-ready(ng-if="'loaded'==state"): .container: block section

    .row: .section--head.col-12: .row: block section--head

        .section--head-main.col-12.col-sm-8.col-lg-8

            h1.section--head--title: block section--head--title
                a(href='#/') Добро пожаловать

            nav.section--head--nav: block section--head--nav-main
                ul.section--head--nav-row.nav.nav-row: block section--head--nav-main--row

        .section--head-side.col-12.col-sm-4.col-lg-4

            nav.section--head--nav.pull-right: block section--head--nav-side
                ul.section--head--nav-row.nav.nav-row: block section--head--nav-side--row
                    li.active
                        a.section--head-size(href='', ng-click="showPlayerPaymentDialog()") {{player.balance | currency:'₨'}}

    .row: .section--menu.col-12: .row: block section--menu

        .col-2 
        .col-2 
        .col-2 
        .col-2 
        .col-2 
        .col-2 

    .row: .section--body.col-12: .row: block section--body

            .col-12.col-sm-3.col-lg-3: block section--side

            .col-12.col-sm-9.col-lg-9: block section--main



.dialog(ng-if="view.dialog.overlay")
    .dialog-bg(ng-click='hideViewDialog()')

    .container: .row: .col-12.dialog-container: block dialog

.dialog-overlay(ng-if="view.dialog.overlay")



.view-inner.view-inner-error(ng-if='"error"==state'): block error
    .view--section
        .container
            .row: .col-12
                hgroup.view--title-group
                    h1.view--title {{error.status}} {{error.data.name}}
                    h2.view--title {{error.data.message}}
