section
  .container
    .row
      .col-12.col-sm-4.col-lg-4.col-push-8
      .col-12.col-sm-8.col-lg-8.col-pull-4
        .toolbar
          h3.toolbar-title Предметы в магазине
          a.btn.btn-primary.btn-small.toolbar-btn(ng-href='#/store/items/create') Добавить предмет
        hr
        ul.items
          li(ng-repeat='item in items')
            a(ng-href='#/store/items/{{item.id}}') {{item}}
      