extends ../../../layout
extends ../../layout

block section--main
    table.table.players
        thead
            tr
                th.t #
                th.t.col-flex: .table-col: .table-col-sortable Игрок
                th.t: .table-col: .table-col-sortable Почта

        tbody
            tr(ng-repeat='player in players', ng-click='togglePlayer(player)', ng-class='{"selected success":player.selected}')
                td.t {{player.id}}
                td.t {{player.name}}
                td.t {{player.email}}


append section--side
    form(name='MailForm')
        fieldset
            input.input(placeholder='Тема', type='text', required, ng-model='mail.subject')
            textarea.input(placeholder='Тело', type='text', required, ng-model='mail.text')

        fieldset
            button.btn.btn-primary.btn-block(type='submit', ng-click='send(MailForm)', ng-disabled='!MailForm.$valid')
                span Отправить
