extends ../../../../../layout
extends ../../../../layout

block section-body
    form(name='MaterialForm')
        h3(style='text-align:center') Обновить материал

        fieldset
              input.input(placeholder='Название материала', type='text', required, ng-model='material.titleRu')
              input.input(placeholder='Material name ', type='text', required, ng-model='material.titleEn')

        fieldset
              input.input.input-auto(placeholder='Идентификатор в игре', type='text', required, ng-model='material.id', ng-pattern='/^([0-9]+)(:([0-9]+))?$/')
              input.input.input-auto(placeholder='Множитель зачарования', type='text', required, ng-model='material.enchantability', ng-pattern='/^([0-9]+)$/')

        fieldset
            button.btn.btn-primary.btn-block(type='submit', ng-click='create(MaterialForm)', ng-disabled='!MaterialForm.$valid')
                    span Обновить материал
            .col-2
                button.btn.btn-link.btn-block.text-left(ng-click='delete(MaterialForm)')
                    span Удалить

