section.dialog-static
    .container.dialog-container
        .row

        menu.col-12.col-sm-4.col-lg-4.col-push-8 

        form.form.col-12.col-sm-8.col-lg-8.col-pull-4(name='ServerForm')
            .form-body
                h3.dialog-title(style='text-align:center') Обновить предмет в магазине

                fieldset
                    input.input(placeholder='Имя сервера', type='text', required, ng-model='server.name')
                    input.input(placeholder='Название', type='text', required, ng-model='server.title')

            .form-foot: .row.form-row
                .col-12
                    button.btn.btn-primary.btn-block(type='submit', ng-click='create(SeverForm)', ng-disabled='!ServerForm.$valid')
                        span Обновить предмет
