extends ../../layout
extends ../layout

block section-body
    table.table.players
        thead
            tr
                th
                th.col-flex: .sortable: .sortable-cell Имя сервера
                th Ключ
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='server in servers')
                td {{server.id}}
                td {{server.title}}
                td {{server.key}}
                td
                    a(href='#/servers/server/update/{{server.id}}')
                        button.btn.btn-success
                            i.icon-wrench

    .row
        .col-12
            a(href='#/servers/server/create')= 'Создать'
