extends ../../layout
extends ../layout

block section--main

    .section--main--bar: .row
        .col-12
            a.btn.btn-primary(href='#/servers/server/create')= 'Создать'

    table.table.players
        thead
            tr
                th.t: .t-col #
                th.t.col-flex: .t-col.table-col: .table-col-sortable Имя сервера
                th.t: .t-col Ключ
                th.t: .t-col
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='server in servers')
                td.t: .t-col {{server.id}}
                td.t: .t-col {{server.title}}
                td.t: .t-col {{server.key}}
                td.t
                    a(href='#/servers/server/update/{{server.id}}')
                        button.btn.btn-success
                            i.icon-wrench
