.blur {
    filter:blur(7px);
    -webkit-filter:blur(7px);
}

.sprite {
    display:inline-block; vertical-align:middle;
    padding:7px;
    background-color:#8b8b8b;
    border-width:2px;
    border-style:solid;
    border-color:#373737 #e2e2e2 #e2e2e2 #373737;
}
.sprite img {
    display:inline-block;
    margin:0; padding:0; border:0;
}

    .sprite:hover, a:hover .sprite {
        background-color:#b8b8b8;
    }

.items {
    margin:0; padding:0;
    list-style:none;
}
.items--item {
    
}
.items--item-details {
    display:inline-block; vertical-align:middle;
}

body {
    overflow-y:auto;
}
.items-container {
    height:1000px;
}

.loadable {
    opacity:0;
}
.loaded {
    opacity:1;
    transition: opacity 1s ease;
}

.item-title {
    display:inline-block; vertical-align:middle;
    margin:0 15px;
    font-size:1.5em; font-weight:400;
}
.item-details {
    margin-top:15px;
}