extends ../../../../layout
extends ../../../layout

block section-body
    form(name='PlayerForm')
        h3(style='text-align:center') Игрок

        fieldset
            input.input(placeholder='Имя', type='text', required, ng-maxlength='50', ng-model='player.name')

            div(ng-if='action=="create"')
                input.input(placeholder='Пароль sha1', type='text', required, ng-maxlength='40', ng-model='player.pass')

        fieldset
            input.input.input-auto(placeholder='Email', type='text', required, ng-maxlength='50', ng-model='player.email')
            input.input.input-auto(placeholder='Phone', type='text', ng-maxlength='15', ng-model='player.phone')


        fieldset(ng-if='action=="update"')
            p Создан: {{player.createdAt}}
            p Активирован: {{player.enabledAt}}
            p Баланс: {{player.amount}}


        fieldset(ng-if='action=="create"')
            button.btn.btn-primary.btn-block(type='submit', ng-click='create(PlayerForm)', ng-disabled='!PlayerForm.$valid')
                span Добавить игрока

        fieldset(ng-if='action=="update"'): .row
            .col-10
                button.btn.btn-primary.btn-block(type='submit',ng-click='update(PlayerForm)',ng-disabled='!PlayerForm.$valid')
                    span Обновить игрока
            .col-2
                button.btn.btn-link.btn-block.text-left(ng-click='delete(PlayerForm)')
                    span Удалить
