extends ../../layout

block section-head-title
  a(href='#/servers') Управление серверами

block section-head-nav
    ul.nav.nav-row
        li: a(href='#/servers/server/list')  Сервера
        li.active: a Инстансы

block section-body
    table.table.players
        thead
            tr
                th
                th.col-flex: .sortable: .sortable-cell Название сервера
                th.col-flex: .sortable: .sortable-cell Хост:порт
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='instance in instances')
                td {{instance.id}}
                td
                    a(href='', ng-click='showDetails(instance)') {{instance.title}}
                td {{instance.host}}:{{instance.port}}
                td
                    a(href='#/servers/instance/update/{{instance.id}}')
                        button.btn.btn-success
                            i.icon-wrench

    .row
        .col-12
            a(href='#/servers/instance/create')= 'Создать'

    script(type='text/ng-template', id='instance/dialog/')
        include instance/dialog/index

