


.btn[disabled] {
    background:#eee;
    border-color:#ccc;
    color:#777;
    opacity:1;
}



.btn {
    margin: 0;
    padding: @input-padding;
    line-height: @line-height;
    font-size: 14px; font-weight: 400;
    color: #eee;
    text-shadow:
        0 1px 0 rgba(0,0,0,0.15)
    ;
    border-radius: 1px;
    cursor: pointer;

    i {
        display: inline-block;
        line-height: inherit;
    }

    &-default {
        background: transparent;
        border: 1px solid transparent;
    }

    &-sm {
        color: red;
    }
}

.btn.btn-link, .btn.btn-link:focus, .btn.btn-link:active, .btn.btn-link.active {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}
.btn.btn-link {
    &.pull-right {
        padding-right: 0; border-right: 0;
    }

    color:#aaa;
    &, & u {
        text-decoration: none;
    }
    &:hover {
        color:#999;
        & u {
            text-decoration: underline;
        }
    }

}

.btn-link.link-primary {
    color: #7a59ab;
    &:hover {
        color: #62468B;
    }
}

.btn-small {
    border-width:0;
    padding: 0 15px;
    font-size: 14px; line-height: 20px;
    letter-spacing: 0px;
    text-transform: none;

    & u {
        line-height: inherit;
    }
}


.btn-group {
    display:inline-block;
    position:relative;
    border-radius:0;
    box-shadow:0 0 0 5px rgba(0,0,0,.1);

    &.btn-block {
        display:block;
    }

    & {
        .dropdown-menu {
            display:none;
            position:absolute; top:0; right:auto; left:0; bottom:auto;
            margin:-5px; padding:5px;
            background:#f9f9f9;
        }
    }
    &.pull-right {
        .dropdown-menu {
            left:auto; right:0;
        }
    }
    &:hover {
        .dropdown-menu {
            display:block;
        }
    }

}


.navbar-nav > li > .btn-group {

}
