extends ../../layout
extends ../layout

block section-body
    input.input(placeholder='Поиск', ng-model='paymentSearch')
    table.table.players
        thead
            tr
                th #
                th.col-flex: .table-col: .table-col-sortable Игрок
                th Открыт
                th Сумма
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='payment in payments | filter:paymentSearch')
                td {{payment.id}}
                td
                    a(ng-href='#/players/player/update/{{payment.playerId}}')
                        {{payment.name}}
                td {{payment.createdAt}}
                td {{payment.amount}}
                td
                    select.input(required, ng-model='payment.status', ng-change='change(payment)', style='width:100px')
                        option(ng-repeat='status in paymentStatuses', value='{{status}}', ng-selected='payment.status == status') {{status}}
