extends ../layout

block section-head-title
    span Управление серверами

block section-head-nav
    ul.nav.nav-row
        li: a(href='#/servers/server/list') Серверы
        li: a(href='#/servers/instance/list') Инстансы

block section-body
    .row
        .col-12
            script(src='/js/libs/chart.min.js')
            script.
                data= {
                    labels: ["January","February","March","April","May","June","July"],
                    datasets: [
                        {
                            fillColor: 'rgba(151,187,205,0.5)',
                            strokeColor: 'rgba(151,187,205,1)',
                            pointColor: 'rgba(151,187,205,1)',
                            pointStrokeColor: '#fff',
                            data: [65,59,90,81,56,55,40]
                        }
                    ]
                }
                ctx= $("#serverStatsChart")[0].getContext('2d');
                serverChart= new Chart(ctx).Line(data)

            canvas#serverStatsChart(height='200',width='400')

