extends ./layout


block section-head-title--payments
    span Пожертвования


block section-side
    button.btn.btn-block.btn-primary(ng-click='showPayDialog()') Пожертвовать еще

block section-body
    style.
        .table tr:hover > td a.cel {
            color:#2a6496;
            text-decoration:underline;
        }
        span.b {
            display:block;
        }
        span.time {
            opacity:0.7;
        }
        .col,
        .cel {
            display:block;
            color:#aaa;
            white-space:nowrap;
        }
        .col-primary,
        .cel-primary {
            color:#428bca;
        }
        .col.col-right,
        .cel.cel-right {
            text-align:right;
        }
        .panel {
            font:20px/25px 'Segoe UI semilight';
            background:#f9f9f9;
            border:0; border-top:1px solid #eee;
            border-radius:1px;
        }

        .player--payment-title {
            font-weight:700;
        }

        .player--carma,
        .player--carma:hover {
            text-decoration:none;
        }
        .player--carma-value {
            font-size: 73px;
            line-height: 73px;
            font-family: 'segoe ui semibold';
        }

        .player--rank,
        .player--rank:hover {
            text-decoration:none;
        }
        .player--rank-value {
            font-size: 37px;
            line-height: 37px;
            font-family: 'segoe ui'; font-weight:700;
        }
    table.table.player--payments

        -//thead.t-clean
        -//    tr
        -//        th.t-col(colspan='2')
        -//            a.col.col-primary.col-right.player--carma
        -//                span.player--carma-label Карма:
        -//                span.player--carma-value 1337
        -//        th.t-col(colspan='2')
        -//            a.col.col-primary.col-left.player--rank
        -//                span.player--rank-label Ранг:
        -//                span.player--rank-value 100500

        thead
            tr
                th.t-col
                    a.col.col-right(title='Номер счета') Счет

                th.t-col
                    a.col(title='Дата выставления платежа')
                        span.b Открыт

                th.t-col
                    a.col(title='Дата зачисления платежа')
                        span.b Закрыт

                th.t-col.col-flex
                    a.col.pull-right(title='Сумма пожертвования') Сумма 
                        span.visible-inline-lg пожертвования

                th.t-col
                    a.col(title='Номер счета') Статус

        tbody
            tr.player--payment(ng-repeat='payment in payments')

                td.t-cel
                    a.cel.cel-right(ng-class="{'cel-primary':payment.status=='pending'}", ng-href='#/payments/{{payment.id}}') {{payment.id}}

                td.t-cel
                    a.cel(ng-class="{'cel-primary':payment.status=='pending'}", ng-href='#/payments/{{payment.id}}', title="{{payment.createdAt | date:'dd.MM.yyyy HH:mm'}}")
                        span.hidden-inline-lg {{payment.createdAt | date:'dd.MM.yyyy'}}
                        span.visible-inline-lg {{payment.createdAt | date:'dd MMMM, HH:mm'}}
                
                td.t-cel
                    a.cel(ng-class="{'cel-primary':payment.status=='pending'}", ng-href='#/payments/{{payment.id}}', title="{{payment.closedAt | date:'dd.MM.yyyy HH:mm'}}")
                        span.hidden-inline-lg {{payment.closedAt | date:'dd.MM.yyyy'}}
                        span.visible-inline-lg {{payment.closedAt | date:'dd MMMM, HH:mm'}}

                td.t-cel
                    a.cel.pull-right.player--payment-title(ng-class="{'cel-primary':payment.status=='pending'}", ng-href='#/payments/{{payment.id}}') {{payment.amount | currency}}

                td.t-cel
                    a.cel.pull-left(ng-class="{'cel-primary':payment.status=='pending'}", ng-href='#/payments/{{payment.id}}')
                        .player--payment-status(ng-if="payment.status=='pending'")
                            span Не оплачен
                        .player--payment-status(ng-if="payment.status=='success'")
                            span Оплачен