extends ../layout

block section-head-title

    block section-head-title--index
        a(href='#/') Добро пожаловать, {{player.name}}

    span ← 

    block section-head-title--payments
        a(href='#/payments') Пожертвования