extends ../../../../layout
extends ../../../layout

block section-body
    form(name='EnchantmentForm')
        h3(style='text-align:center') Добавить чары в магазин

        fieldset
            input.input(placeholder='Название чар', type='text', required, ng-model='enchantment.titleRu')
            input.input(placeholder='Name enchantment', type='text', required, ng-model='enchantment.titleEn')

        fieldset
            input.input.input-auto(placeholder='Идентификатор в игре', type='text', required, ng-model='enchantment.id', ng-pattern='/^([0-9]+)(:([0-9]+))?$/')
            input.input.input-auto(placeholder='Максимальный уровень', type='text', required, ng-model='enchantment.levelmax', ng-pattern='/^([0-9]+)$/')


        fieldset(ng-if='action=="create"')
            button.btn.btn-primary.btn-block(type='submit', ng-click='create(EnchantmentForm)', ng-disabled='!EnchantmentForm.$valid')
                span Добавить чары

        fieldset(ng-if='action=="update"'): .row
            .col-10
                button.btn.btn-primary.btn-block(type='submit',ng-click='update(EnchantmentForm)',ng-disabled='!EnchantmentForm.$valid')
                    span Обновить чары
            .col-2
                button.btn.btn-link.btn-block.text-left(ng-click='delete(EnchantmentForm)')
                    span Удалить


