extends ./layout

block section-head-title
    span Добро пожаловать, {{player.name}}
    a.btn.btn-link.btn-small ← 
        u Изменить ник


block section-side
    button.btn.btn-block.btn-primary(ng-click='showPayDialog()') Пожертвовать проекту

block section-body
    .row
        .col-12.player--payments
            a.btn.btn-link.link-primary.pull-right(href='#/payments')
                u История пожертвований

            span Подписка:
                b обычный игрок
                a.btn.btn-link.link-primary Сменить подписку

    .row
        .col-12.player--subscriptions
            .player--subscription(ng-repeat='subscription in subscriptions') {{subscription}}

block dialog
    .player--dialog-pay(ng-controller='PlayerPaymentCreateCtrl')
        input.input(ng-model='payment.amount')
        button.btn.btn-primary(ng-click='create()') Пополнить счет
