.container
  .row
    .col-12
      h3 {{form.title}}
      hr
      form.form.form-horizontal(ng-submit='save(grp)')
        input(type='text', placeholder='Name', ng-model='grp.name')
        .form-actions
          input.btn.btn-primary(type='submit') Сохранить группу
