.container
  .row
    .col-12
      h3 Группы пользователей
      hr
      a.btn.btn-primary(href='#/groups/create') Добавить группу
      hr
      ul.groupList(ng-repeat='grp in grps')
        li.groupList-group {{grp}}