extends ../layout

block section-head-title
  span Управление серверами

block section-head-nav
  ul.nav.nav-row
    li: a(href='#/servers/server/list') Серверы
    li: a(href='#/players/group/list') Группы
