extends ../../layout
extends ../layout



block section--main
    table.table.players
        thead
            tr
                th.t
                th.t.col-flex: .sortable: .sortable-cell Хост:порт
                th.t
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='instance in instances')
                td.t {{instance.id}}
                td.t
                    a(href='', ng-click='showDetails(instance)') {{instance.host}}:{{instance.port}}
                td.t
                    a(href='#/servers/instance/update/{{instance.id}}')
                        button.btn.btn-success
                            i.icon-wrench

    .row
        .col-12
            a(href='#/servers/instance/create')= 'Создать'
