extends ../layout



append head-links

    link(rel='stylesheet', href='/styles/management/project/index.css')



append head-scripts

    script(src='/scripts/libs/jquery-ui-1.10.3.custom.min.js')


    include includes/players/players.coffee
    include includes/servers/servers.coffee
    include includes/store/store.coffee
    include includes/project.coffee
    include ../manage.coffee



append body

    header.header
        .navbar.navbar-static-top
            .container
                a.navbar-brand(href='./')
                    span FLYDEV

                .nav-collapse.collapse

                    ul.nav.navbar-nav

                        li: a(href='#/players') Игроки 
                            b.caret

                        li: a(href='#/servers') Серверы 
                            b.caret

                        li: a(href='#/store') Магазин 
                            b.caret

                    ul.nav.navbar-nav.pull-right

                        li: a(href='../engine/') Управление системой

                        li.dropdown(ng-controller='CurrentUserCtrl', ng-class='{open:dropdown.isOpen}')

                            a.dropdown-toggle(href='', ng-click='toggleDropdown()')
                                strong='{{user.name}} '
                                b.caret

                            ul.dropdown-menu

                                li: a(href='#/user')
                                    i.icon-user
                                    span   Аккаунт

                                li.divider

                                li: a(href='', ng-click='logout()')
                                    i.icon-signout
                                    span   Выход

    .view.view-outer(ng-view)

    .dialog(ng-if='dialog.overlay', ng-animate='"dialog"')
        .dialog-bg(ng-click='hideDialog()')
        .container: .row: .col-12.dialog-container(ng-include='dialog.templateUrl')

    .dialog-overlay(ng-if='dialog.overlay', ng-animate='"dialog-overlay"')
