extends ../../layout
extends ../layout

block section-body
    table.table
        thead
            tr
                th ID
                th.col-flex: .sortable: .sortable-cell Название чара
                th English
                th Max
                th
                    button.btn.btn-info(ng-click='reload()')
                        i.icon-refresh

        tbody
            tr(ng-repeat='enchantment in enchantments')
                td {{enchantment.id}}
                td {{enchantment.titleRu}}
                td {{enchantment.titleEn}}
                td {{enchantment.levelmax}}
                td
                    a(ng-href='#/store/enchantments/enchantment/update/{{enchantment.id}}')
                        button.btn.btn-success
                            i.icon-wrench

    .row
        .col-12
            a(href='#/store/enchantments/enchantment/create')= 'Создать'

