extends ../layout

append head-scripts

  include js/player.coffee

append header

  style.
    html {
      background:#563d7c;
      background-image:none;
    }
    .navbar {
      background-color:#563d7c;
    }

  .navbar.navbar-inverse.navbar-static-top
    .container
      .row
        .col-12.col-sm-9.col-lg-9
          a.navbar-brand(href='./')
            span FLYDEV
          ul.nav.navbar-nav
            li: a(href='#/store') Магазин
          ul.nav.navbar-nav
            li: a(href='#/storage') Склад
        .col-12.col-sm-3.col-lg-3
          {{player.name}}
          .pull-right.btn-group.dropdown(ng-if='player')
            a.btn.btn-small(href='', ng-click='logout()') Личный кабинет
            ul.dropdown-menu
              li: a(href='#/player') Личный кабинет
