extends ../layout


append head-links

  link(rel='stylesheet', href='/styles/Play/player.css')


append head-scripts

  include includes/player.coffee


append header

  .navbar.navbar-inverse.navbar-static-top
    .container
      .row
        .col-12
          a.navbar-brand(href='./')
            span FLYDEV
          ul.nav.navbar-nav
            li: a(href='/store') Магазин
            li: a(href='/storage') Склад
          ul.nav.navbar-nav.pull-right
            li: a(href='/player') {{player.name}}
