section
  .container
    .row
      .col-12.col-sm-4.col-lg-4.col-push-8
      .col-12.col-sm-8.col-lg-8.col-pull-4
        .toolbar
          h3.toolbar-title Предметы в магазине
          a.btn.btn-primary.btn-small.toolbar-btn(ng-href='#/store/items/create') Добавить предмет
        hr
        style.
          .item .img {
            margin-right:1em;
          }
        .items
          p.item(ng-repeat='item in items')
            a(ng-href='#/store/items/{{item.id}}')
              img.img(ng-src='{{item.imageUrl}}')
              span {{item.title}}
            hr
      